
<style>
    .jumbotron {
        background-color: lightblue;
        border-radius: 10px;
        margin-top: 20px;
    }
    #titulo, h2 {
        font-family: Ubuntu;
        text-align: center;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col-md-4 {
        margin: auto;
        text-align: justify;
        border: 2px solid #000;
        border-radius: 10px;
        width: 1000px;
        padding: 20px;
    }
    .subT {
        margin-bottom: 30px;
    }
</style>
<div class="jumbotron">
    <h1 id="titulo">CHALLENGE NUBIMETRICS</h1>
    <h2>BUCZEK GUILLERMO SEBASTIAN</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="subT">¿Porque usar patrones de diseño?</h2>
        <p>Pienso en los patrones de diseño como aquello que ayuda al programador a <strong>organizar, moldear y estandarizar</strong> la escritura del codigo,
        siendo una herramienta indispensable para lograr un resultado prolijo, legible para nosotros y para todo aquel que en un futuro vea nuestro codigo.</p>
    </div>
</div>
